@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

#header{
    padding: 3vh 7vw;
    background-color: #1A0B2E;
    font-family: "Preahvihear", sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 2rem;
    color: cornflowerblue;
    /* font-family: "Allura", cursive; */
    font-family: "Dancing Script", cursive;
    font-weight: 800;
    /* color: #059862; */
}

ul{
    display: flex;
    gap: 50px;
}

ul li{
    /* display: flex; */
    list-style-type: none;
}

#hero{
    background-color: #11071F;
    /* height: 100vh; */
    width: 100%;
    font-family: "Preahvihear", sans-serif;
    /* font-weight: 400;
    font-style: normal; */
    display: flex;
    flex-direction: column;
    padding: 10vh 15vw;
}

.me-img{
    background-image: url("../assets/Arrow.png");
    background-repeat: no-repeat;
    background-position: 11rem -2rem;
    display: flex;
}

.text-section{
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* .name{
    color: #fff;
} */

.designer{
    padding-top: 6rem;
    font-size: 12px;
    text-align: left;
}

.book-text{
    font-size: 2.4rem;
}

.book-text span{
    color: #7127BA;
}

h1{
    font-size: 3rem;
}

span{
    color: #7127BA;
}

.box > span{
    color: #fff;
}

#about{
    background-color: #11071F;
    padding: 5vh 8vw;
}

.about-main{
    padding-top: 10vh;
    text-align: left;
}

.about-h{
    font-size: 1.2rem;
}

.tools-main{
    padding-top: 10vh;
    text-align: left;
}

.tools-h{
    font-size: 1.2rem;
}

/* ############################################### */

.tools-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
}

.box{
    margin: 10px;
    background-color: rgb(5, 32, 42);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box img{
    height: 40px;
}

#box6 img{
    height: 25px;
}

.box span{
    font-size: 15px;
}

img.github{
    color: #fff;
}

.skills-img{
    padding-top: 5rem;
}

#projects{
    /* padding-top: 10rem; */
    /* height: 100vh; */
    width: 100%;
    /* padding: 5vh 0; */
    background-color: #11071F;
}

.project-main{
    height: fit-content;
    width: 100%;
    padding: 0 15vw;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    /* background-color: #7127BA; */
}

.project-main-reves{
    height: fit-content;
    width: 100%;
    padding: 0 15vw;
    padding: 3rem 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-items: center;
    /* background-color: #7127BA; */
}

.project-left{
    padding-top: 80px;
    height: 350px;
    width: 50%;
    text-align: left;
    z-index: 100;
    /* background-color: orange; */
}

.project-left-reves{
    padding-top: 80px;
    height: 350px;
    width: 50%;
    text-align: right;
    /* background-color: orange; */
}

.project-right{
    height: 380px;
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    align-items: end;
    z-index: 1;
    background-color: #2B0B3A;
}

.project-right-reves{
    height: 380px;
    width: 30%;
    display: flex;
    text-align: right;
    align-items: end;
    background-color: #2B0B3A;
}

.project-right img{
    height: 350px;
    width: 340px;
}

.project-right-reves img{
    height: 350px;
    width: 340px;
}

img.cal-img{
    height: 350px;
    width: 340px;
}

.featured-text{
    color: #7127BA;
    font-weight: bold;
}

.featured-text-reves{
    color: #7127BA;
    font-weight: bold;
}

.view-project{
    text-decoration: none;
    color: #7127BA;
}

.example-text{
    color: aliceblue;
    font-size: 1.7rem;
    font-weight: bold;
}

.example-text-reves{
    color: aliceblue;
    font-size: 1.7rem;
    font-weight: bold;
}

.project-desc{
    /* width: 150%; */
    padding: 10px 15px;
    border-radius: 10px;
    text-align: left;
    background-color: #1A0B2E;
    background-image: linear-gradient(to right, #201435 , #7A6C8E);
}

.project-desc-reves{
    /* width: 150%; */
    padding: 10px 15px;
    border-radius: 10px;
    text-align: left;
    background-color: #1A0B2E;
    background-image: linear-gradient(to right, #201435 , #7A6C8E);
}

#skills-img-main{
    background-color: #11071F;
}

#skills-img-main .skills-img{
    height: 700px;
}

#contact{
    text-align: left;
    padding: 5vh 40vw 5vh 8vw;
    background-color: #11071F;
}

h3{
    text-align: left;
}

.contact-desc{
    text-align: left;
    padding: 20px 0;
}

button{
    color: aliceblue;
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: #7127BA;
}

button:hover{
    color: #7127BA;
    background-color: #2B0B3A;
    transition: all 0.7s ease;
}

.social-logos{
    padding: 20px 0;
    display: flex;
    gap: 20px;
}

.logo-social{
    font-size: 30px;
}

.footer-text{
    text-align: center;
    padding: 15px 0;
    background-color: #22082f;
}

.own-link{
    color: #7127BA;
    text-decoration: none;
}